.night-theme{
  // 全局继承样式
  color:#333333;
  background-color: #1e1e1e;
  input{
    color:#333333;
  }
  // a标签
  a:link,
  a:visited,
  a:hover,
  a:active{
    color:#333333;
  }
  // 滚动条
  ::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    background-color: rgba(121, 121, 121, 0.3)
  }
  ::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  // 标题栏
  .toolkit-logo{
    .icon-svg{
      color: #ffffff;
    }
  }
  .toolkit-titlebar {
    background-color: #1890ff;
  }
  .toolkit-controls >li:hover {
    &>.icon-svg{
      color: #ffffff;
    }
    background-color: rgba(255,255,255,0.1);
    &:last-of-type{
      background-color: rgba(232,17,35,0.9);
    }
  }
  .toolkit-controls-list-active{
    background-color: rgba(255,255,255,0.1);
    &>.icon-svg{
      color: #ffffff;
    }
  }
  .toolkit-controls-select{
    background-color: #252526;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.5);
  }
  .toolkit-controls-help-list >li:hover{
    color: #ffffff;
    background-color: #4e4e4e;
  }
  .toolkit-controls-skin-list >li{
    &:first-of-type{
      .icon-svg{
        color: #1890ff;
      }
    }
    &::before{
      border: 1px solid transparent;
    }
    &:hover::before{
      border: 1px solid #1890ff;
    }
  }
  // 提示信息框
  .w-message-container{
    background-color: #3c3c3c;
    padding: 14px;
    color: red;
  }
  // 仪表盘导航
  .dashboard-nav li {
    background-color: #3c3c3c;
    &:hover{
      background-color: #4e4e4e;
      .icon-svg{
        color:#1890ff;
      }
    }
  }
  // 颜色转换
  .color-transform-form li {
    input {
      border: none;
      border-bottom: 1px solid #cccccc;
    }
  }
  .color-transform-preview {
    border: 1px solid #474747;
  }

 
}