// 颜色定义
$color-1:#cccccc;
$color-2:#efefef;
$color-3:#ffffff;
$color-4:#1e1e1e;
$color-5:#1890ff;
$color-6:#505050;
$color-7:red;
$color-8:#3c3c3c;
$color-9:turquoise;
// 透明色
 $rgba-1: rgba(255,255,255,0.1);
 $rgba-2: rgba(232,17,35,0.9);
 $rgba-3:rgba(0,0,0,0.3);
.night-theme{
  // 全局继承样式
  color:$color-1;
  // background-color: #252526;
  background-color: $color-4;
  input{
    color:$color-1;
  }
  // a标签
  a:link,
  a:visited,
  a:hover,
  a:active{
    color:$color-1;
  }
  // 标题栏
  .toolkit-logo{
    .icon-svg{
      color: $color-5
    }
    h1{
      color: $color-5;
    }
  }
  .toolkit-titlebar {
    background-color: $color-8;
    color: $color-2;    
    box-shadow: 0 0 15px 0  $rgba-3;
  }
  .toolkit-controls >li:hover {
    &>.icon-svg{
      color: $color-3;
    }
    background-color: $rgba-1;
    &:last-of-type{
      background-color: $rgba-2;
    }
  }
  .toolkit-controls-list-active{
    background-color: $rgba-1;
    &>.icon-svg{
      color: $color-3;
    }
  }
  .toolkit-controls-select{
    background-color: $color-8;
    box-shadow: 0 3px 3px 0 $rgba-3;
  }
  .toolkit-controls-help-list >li:hover{
    color: $color-3;
    background-color: $color-6;
  }
  .toolkit-controls-skin-list >li{
    &:first-of-type{
      .icon-svg{
        color: $color-5;
      }
    }
    &::before{
      border: 1px solid $rgba-1;
    }
    &:hover::before{
      border: 1px solid $color-5;
    }
  }
  // 提示信息框
  .w-message-container{
    background-color:$color-6;
    padding: 14px;
    .w-message-container-error{
      color: $color-7;
    }
    .w-message-container-success{
      color: $color-9;
    }
  }
  // 仪表盘导航
  .dashboard-nav li {
    background-color: $color-8;
    color: $color-2;
    &:hover{
      background-color:$color-6;
      box-shadow: 0 0 15px 0  $rgba-3;
      .icon-svg{
        color:$color-5;
      }
    }
  }
  // 颜色转换
  .color-transform-form li {
    input {
      border: none;
      background-color: transparent;
      border-bottom: 1px solid $color-1;
    }
  }
  .color-transform-preview {
    border: 1px solid$color-1;
  }
  // svg压缩
  .svg-compress-import{
    border: 1px dashed $color-6;
    &:hover{
      border-color: $color-1;
    }
  }
  .svg-compress-list {
    border: 1px solid $color-6;
    thead{
      background-color: $color-6;
    }
    tbody tr{
      border-bottom: 1px solid $color-6;
    }
  }
  .svg-compress-preview svg{
    fill:$color-1;
  }
  .svg-compress-code textarea {
    border: 1px solid $color-6;
    outline: none;
    background-color: transparent;
    color:$color-1;
  }
  .svg-compress-preview-operation button {
    outline: none;
    background: none;
    border: none;
    color:$color-1;
    &:hover{
      color:$color-3;
    }
  }
  .svg-compress-compressibility span:nth-of-type(2){
    color: $color-9;
  }
  // 屏幕取色器
  .color-straw-control{ 
    >div {
      li{
        input {
          border: none;
          background-color: transparent;
          border-bottom: 1px solid $color-1;
        } 
      }
      .color-straw-preview {
        border: 1px solid $color-1;
      }
    }
    > p i {
      border: 1px solid $color-1;
    }
  }
}